In [31]:
import pandas as pd
import numpy as np
%matplotlib inline
import sklearn.model_selection as cv
import sklearn

In [32]:
data = pd.read_csv("gender-classifier-DFE-791531.csv", skipinitialspace=True)
data.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1,yes,1,12/5/13 1:48,...,https://pbs.twimg.com/profile_images/414342229...,0.0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964.0,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1,yes,1,10/1/12 13:51,...,https://pbs.twimg.com/profile_images/539604221...,0.0,C0DEED,���It felt like they were my friends and I was...,NaN,7471.0,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,"0,6625",yes,1,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1.0,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617.0,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1,yes,1,6/11/09 22:39,...,https://pbs.twimg.com/profile_images/259703936...,0.0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693.0,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1,yes,1,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0.0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462.0,10/26/15 12:40,6.587300e+17,NaN,NaN

In [33]:
# Drop attributes that we won't use
data = data.drop(['_golden', '_unit_state', '_trusted_judgments', '_last_judgment_at', 'gender:confidence', 'profile_yn', 'profile_yn:confidence', 'gender_gold', 'profile_yn_gold', 'profileimage', 'tweet_id'], axis=1);
data.head()

,_unit_id,gender,created,description,fav_number,link_color,name,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_location,user_timezone
0,815719226,male,12/5/13 1:48,i sing my own rhythm.,0.0,08C2C2,sheezy0,0.0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964.0,10/26/15 12:40,main; @Kan1shk3,Chennai
1,815719227,male,10/1/12 13:51,I'm the author of novels filled with family dr...,68.0,0084B4,DavdBurnett,0.0,C0DEED,���It felt like they were my friends and I was...,NaN,7471.0,10/26/15 12:40,NaN,Eastern Time (US & Canada)
2,815719228,male,11/28/14 11:30,louis whining and squealing and all,7696.0,ABB8C2,lwtprettylaugh,1.0,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617.0,10/26/15 12:40,clcncl,Belgrade
3,815719229,male,6/11/09 22:39,"Mobile guy. 49ers, Shazam, Google, Kleiner Pe...",202.0,0084B4,douggarland,0.0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693.0,10/26/15 12:40,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,female,4/16/14 13:23,Ricky Wilson The Best FRONTMAN/Kaiser Chiefs T...,37318.0,3B94D9,WilfordGemma,0.0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462.0,10/26/15 12:40,NaN,NaN

In [34]:
# Description attr treatment. Change to number of words writed
for index, row in data.iterrows() :
    data.set_value(index, 'description', len(str(row['description'])))
    data.set_value(index, 'text', len(str(row['text'])))
    data.set_value(index, 'tweet_coord', "false" if pd.isnull(row['tweet_coord']) else "true")

data.rename(columns={'description': 'description_length', 'text': 'text_length'}, inplace=True)
data.head()

,_unit_id,gender,created,description_length,fav_number,link_color,name,retweet_count,sidebar_color,text_length,tweet_coord,tweet_count,tweet_created,tweet_location,user_timezone
0,815719226,male,12/5/13 1:48,21,0.0,08C2C2,sheezy0,0.0,FFFFFF,109,false,110964.0,10/26/15 12:40,main; @Kan1shk3,Chennai
1,815719227,male,10/1/12 13:51,62,68.0,0084B4,DavdBurnett,0.0,C0DEED,138,false,7471.0,10/26/15 12:40,NaN,Eastern Time (US & Canada)
2,815719228,male,11/28/14 11:30,35,7696.0,ABB8C2,lwtprettylaugh,1.0,C0DEED,80,false,5617.0,10/26/15 12:40,clcncl,Belgrade
3,815719229,male,6/11/09 22:39,146,202.0,0084B4,douggarland,0.0,C0DEED,138,false,1693.0,10/26/15 12:40,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,female,4/16/14 13:23,160,37318.0,3B94D9,WilfordGemma,0.0,0,92,false,31462.0,10/26/15 12:40,NaN,NaN

In [35]:
data[data['tweet_coord'] == "true"]

,_unit_id,gender,created,description_length,fav_number,link_color,name,retweet_count,sidebar_color,text_length,tweet_coord,tweet_count,tweet_created,tweet_location,user_timezone
81,815719307,female,7/29/08 3:50,174,6805.0,FF0877,smizz,0.0,FFFFFF,140,true,30903.0,10/26/15 12:40,Practicing Kindness,London
82,815719308,brand,8/31/12 5:36,138,0.0,F62217,TCGJobs,0.0,C0DEED,136,true,19879.0,10/26/15 12:40,NaN,Atlantic Time (Canada)
177,815719403,male,5/3/09 9:37,87,33.0,CC3366,JLJ167,0.0,DBE9ED,126,true,418.0,10/26/15 12:40,"43.122580,-87.914122",NaN
228,815719454,brand,7/12/09 8:40,22,0.0,8A1C3B,PhoenixCP,0.0,FFFFFF,138,true,141186.0,10/26/15 12:40,Phoenix,Mountain Time (US & Canada)
250,815719476,brand,8/1/09 18:53,27,0.0,57113B,IndianapolisCP,0.0,FFFFFF,142,true,211477.0,10/26/15 12:40,"Indianapolis, IN",Eastern Time (US & Canada)
470,815719697,brand,7/18/09 9:57,52,1.0,8A1C3B,PhiladelphiaCP,0.0,FFFFFF,140,true,251352.0,10/26/15 12:40,Philadelphia,Eastern Time (US & Canada)
480,815719707,brand,8/1/09 18:53,27,0.0,57113B,IndianapolisCP,0.0,FFFFFF,141,true,211477.0,10/26/15 12:40,"Indianapolis, IN",Eastern Time (US & Canada)
540,815719768,brand,7/12/09 8:40,22,0.0,8A1C3B,PhoenixCP,0.0,FFFFFF,141,true,141186.0,10/26/15 12:40,Phoenix,Mountain Time (US & Canada)
705,815719934,brand,12/3/13 13:13,154,0.0,1D7B2C,CricketCareers,0.0,FFFFFF,115,true,266.0,10/26/15 12:40,"Atlanta, Georgia",Central Time (US & Canada)
920,815720151,female,10/13/10 6:26,3,2.0,560355,xoxo11_asuka,0.0,0AB0F1,129,true,983.0,10/26/15 12:40,"35.728851,140.017265",Tokyo
1276,815720512,brand,3/28/09 14:42,154,0.0,96BEDF,tmj_cao_hrta,0.0,0,138,true,1962.0,10/26/15 12:40,"Orange County, CA",Eastern Time (US & Canada)
1318,815720554,female,10/23/09 20:18,121,68072.0,ABB8C2,Sensbabe55,0.0,0,126,true,9923.0,10/26/15 12:40,"Hamilton,Canada",Quito
1607,815720846,female,6/27/14 0:32,48,97.0,0084B4,_ratoxx,0.0,C0DEED,144,true,625.0,10/26/15 12:40,Mafikeng,NaN
1621,815720860,male,2/6/08 15:28,154,1956.0,9999,polexa,0.0,EEEEEE,128,true,28286.0,10/26/15 12:40,"Berlin, San Francisco, Taipei",Berlin
1651,815720890,male,4/19/11 20:03,88,1263.0,0084B4,twain_86,0.0,FFFFFF,100,true,20739.0,10/26/15 12:40,#TwainsWorld,NaN
1727,815721016,male,5/8/07 11:03,107,140.0,9266CC,MikeHughesUK,0.0,0,83,true,697.0,10/26/15 12:40,"��T: 52.673237,-1.835459",London
1745,815721034,female,5/17/10 12:38,125,2195.0,994488,MISSBLOSSOM9210,0.0,0,66,true,2042.0,10/26/15 12:40,"COLUMBUS, MS",Central Time (US & Canada)
1835,815721124,male,1/3/10 11:22,127,4.0,6B00B3,fernandlopez,0.0,0,134,true,1066.0,10/26/15 12:40,Paris,Paris
2028,815721319,brand,7/29/09 18:00,18,1232.0,9999,FYFFEST,0.0,FFFFFF,127,true,6658.0,10/26/15 12:40,Los Angeles,Pacific Time (US & Canada)
2250,815721542,brand,4/3/09 3:19,129,0.0,96BEDF,tmj_phl_retail,0.0,0,132,true,1629.0,10/26/15 12:40,"Philadelphia, PA",Eastern Time (US & Canada)
2368,815721660,male,1/30/11 16:24,44,494.0,0C8BAB,fortyninegiants,0.0,EEEEEE,126,true,895.0,10/26/15 12:40,"Daly City, CA",Pacific Time (US & Canada)
2464,815721756,male,12/11/09 14:30,29,380.0,0084B4,jamieellmore,0.0,FFFFFF,97,true,2570.0,10/26/15 12:40,London,NaN
2480,815721772,female,11/19/11 12:04,15,529.0,0084B4,SheldieDerival,0.0,FFFFFF,56,true,44610.0,10/26/15 12:40,NaN,NaN
2493,815721785,female,10/15/11 22:03,137,675.0,D9A78E,TheOfficialPBTH,0.0,12B2A6,127,true,13330.0,10/26/15 12:40,MTL/NYC/Airplanes ����,Eastern Time (US & Canada)
2519,815721811,female,5/19/09 20:27,3,254.0,9266CC,elo1617,0.0,0,123,true,12652.0,10/26/15 12:40,Mauritius,Quito
2532,815721824,brand,2/24/09 20:20,141,0.0,96BEDF,tmj_phl_edu,0.0,0,133,true,65.0,10/26/15 12:40,"Philadelphia, PA",Eastern Time (US & Canada)
2725,815722019,male,9/6/09 11:11,149,40.0,0A0202,dukeroufus,0.0,0,122,true,26172.0,10/26/15 12:40,Made in #Milwaukee,Central Time (US & Canada)
2775,815722069,brand,1/18/12 12:38,85,18.0,9999,photobyesanchez,0.0,0,124,true,6135.0,10/26/15 12:40,NaN,Arizona
2783,815722077,female,7/22/10 15:56,34,2519.0,D02B55,parkerpointer,0.0,829D5E,69,true,9017.0,10/26/15 12:40,Rotherham/England/UK,NaN
2800,815722094,brand,12/9/08 21:32,72,0.0,0,pbumpnet,0.0,99E3F7,103,true,25999.0,10/26/15 12:40,NaN,Eastern Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15231,815734713,male,8/24/12 8:53,139,2156.0,38543,jusbekoz,0.0,EEEEEE,59,true,18458.0,10/26/15 13:19,"Martinsburg, WV",Eastern Time (US & Canada)
15272,815734754,male,3/2/12 8:49,50,1642.0,007F9A,Noremac1999,0.0,5ED4DC,133,true,453.0,10/26/15 13:19,"Cornwall, United Kingdom",London
15464,815734952,female,8/31/12 13:59,54,3621.0,12A65F,isa_duff,0.0,0,94,true,6430.0,10/26/15 13:19,Boulevard of broken dreams.,Madrid
15478,815734966,female,5/19/14 4:34,85,367.0,FF0000,DimaMononela,0.0,65B0DA,62,true,886.0,10/26/15 13:19,Pretoria,NaN
15986,815735487,male,4/8/09 18:39,137,7869.0,B6B6B9,Johnoble,0.0,0,99,true,3399.0,10/26/15 13:19,"Athens, Ohio",Eastern Time (US & Canada)
16088,815735591,male,10/8/13 0:23,89,1127.0,9266CC,LeChefDerrick,0.0,0,136,true,3198.0,10/26/15 13:19,MOMBASA,Nairobi
16203,815735711,female,1/28/14 9:13,94,3947.0,0084B4,LebretonAbby,0.0,C0DEED,134,true,249.0,10/26/15 13:19,NaN,NaN
16280,815735788,male,7/20/14 15:31,83,2.0,0084B4,EricFlores77,0.0,C0DEED,98,true,104.0,10/26/15 13:19,NaN,NaN
16741,815736258,male,2/11/09 14:54,154,1373.0,0084B4,GerrardD,0.0,A8C7F7,140,true,6652.0,10/26/15 13:19,Sheffield UK,London
16769,815736286,brand,3/4/09 19:33,140,0.0,96BEDF,tmj_tx_nursing,0.0,0,130,true,1645.0,10/26/15 13:19,Texas,Eastern Time (US & Canada)
16775,815736292,brand,2/23/09 11:12,127,0.0,96BEDF,tmj_den_health,0.0,0,133,true,1428.0,10/26/15 13:19,"Denver, CO",Eastern Time (US & Canada)
17096,815736619,brand,7/26/12 15:35,153,0.0,0084B4,SutterJobs,0.0,FFFFFF,135,true,3000.0,10/26/15 13:19,Northern California,Hawaii
17176,815736702,female,7/11/10 21:37,146,258.0,0099CC,MerMcErickson,0.0,FFF8AD,75,true,1541.0,10/26/15 13:19,"New Braunfels, TX",Central Time (US & Canada)
17312,815736842,brand,2/25/09 16:01,152,3.0,88253,PatsCollection,0.0,D3D2CF,126,true,1179.0,10/26/15 13:19,"Florida, 34207",Quito
17390,815736920,female,2/16/13 22:43,130,1246.0,0084B4,Mlj845,0.0,C0DEED,66,true,4427.0,10/26/15 13:19,Wouldnt u like to know,NaN
17475,815737007,female,9/30/09 8:21,72,1974.0,F01F1F,SLMckenzieee,0.0,0,85,true,9055.0,10/26/15 13:19,"England, Harlow.",London
17524,815737059,brand,4/2/09 16:01,124,0.0,96BEDF,tmj_chi_retail,0.0,0,115,true,2040.0,10/26/15 13:19,"Chicago, IL",Eastern Time (US & Canada)
17619,815737155,male,7/25/15 8:02,35,28.0,0084B4,GosMain1,0.0,C0DEED,139,true,268.0,10/26/15 13:19,Rusternburg,NaN
17646,815737182,brand,4/15/09 9:18,73,5510.0,FF3300,dominos,0.0,FFFFFF,130,true,186455.0,10/26/15 13:19,"Ann Arbor, MI",Eastern Time (US & Canada)
17807,815737349,male,1/28/14 9:13,94,3947.0,0084B4,LebretonAbby,0.0,C0DEED,135,true,250.0,10/26/15 13:19,NaN,NaN
17950,815737495,brand,2/23/09 19:37,136,0.0,96BEDF,tmj_ind_manuf,0.0,0,121,true,209.0,10/26/15 13:19,"Indianapolis, IN",Eastern Time (US & Canada)
18421,815737981,male,11/2/13 2:13,3,146.0,0084B4,NikeeNikita,0.0,C0DEED,93,true,160.0,10/26/15 13:19,NaN,NaN
18564,815738125,brand,3/15/09 20:15,131,0.0,96BEDF,tmj_roa_manuf,0.0,0,131,true,55.0,10/26/15 13:19,"Roanoke, VA",Eastern Time (US & Canada)
18808,815738376,brand,8/14/09 16:46,3,68.0,0084B4,Sharalee_Field,0.0,C0DEED,122,true,2550.0,10/26/15 13:19,NaN,Eastern Time (US & Canada)
18951,815738520,male,9/21/09 2:25,3,1.0,0084B4,Si_Parkes,0.0,C0DEED,125,true,330.0,10/26/15 13:19,London,NaN
19351,815738928,female,1/7/13 19:31,114,199.0,38543,taterrose,0.0,EEEEEE,135,true,1045.0,10/26/15 13:19,"Raleigh, NC",NaN
19376,815738953,brand,4/2/09 19:56,126,0.0,96BEDF,tmj_cle_retail,0.0,0,132,true,623.0,10/26/15 13:19,"Cleveland, OH",Eastern Time (US & Canada)
19444,815739024,brand,8/6/15 10:32,157,0.0,8C1515,SHC_Jobs,0.0,0,135,true,1450.0,10/26/15 13:19,NaN,NaN
19638,815739225,female,8/7/12 23:53,134,879.0,8E1653,thelookbyV,0.0,0,120,true,2641.0,10/26/15 13:19,LA LA LAND,Arizona
19966,815739561,brand,2/13/09 20:45,127,0.0,96BEDF,tmj_dfw_health,0.0,0,138,true,1780.0,10/26/15 13:18,"DFW, Texas",Eastern Time (US & Canada)