# 1. Load Modules and Libraries

In [6]:
import numpy as np                     # Llibreria matemàtica
import pandas as pd
import sklearn                         # Llibreria de DM
import sklearn.model_selection as cv    # Pel Cross-validation
from sklearn.naive_bayes import GaussianNB         # Pel Naive Bayes
%matplotlib inline

# 2. Load the dataset

In [7]:
twigen = pd.read_csv("dataWithTextWordsPrep.csv", encoding='latin1')
twigen.head()

c:\users\carlos\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (12,15,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,evidence,great.,toe,favor,soccer,did.,wheel,shoulder,rank,expected
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,0,0,0,0,0,0,0,0,0,0
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,0,0,0,0,0,0,0,0,0,0
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,0,0,0,0,0,0,0,0,0,0
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,0,0,0,0,0,0,0,0,0,0
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,0,0,0,0,0,0,0,0,0,0

# 3. Pre-processing

In [3]:
twigen = twigen.drop(['_unit_id', '_golden', '_unit_state', '_trusted_judgments', '_last_judgment_at',
               'gender:confidence', 'profile_yn', 'profile_yn:confidence', 'created', 'description',
               'fav_number', 'gender_gold', 'link_color', 'name', 'profile_yn_gold', 'profileimage',
               'sidebar_color', 'text', 'tweet_count', 'tweet_created', 'tweet_id', 'tweet_location',
               'retweet_count', 'tweet_coord', 'user_timezone'], axis=1);
twigen = twigen[twigen.gender.notnull()]
twigen.head()

,gender,you,weather,get,my,from,me,with,that,update,...,evidence,great.,toe,favor,soccer,did.,wheel,shoulder,rank,expected
0,male,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,male,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,male,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,male,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,female,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

## Separate data from labels

In [4]:
def genderToNumeric(gender) :
    if gender == 'male' :
        return 0
    elif gender == 'female' :
        return 1
    else :
        return 2

labels = twigen.gender.apply(lambda g: genderToNumeric(g))
data = twigen.drop('gender', axis=1)

print(data.shape)
data.head()

(19953, 2000)

,you,weather,get,my,from,me,with,that,update,be,...,evidence,great.,toe,favor,soccer,did.,wheel,shoulder,rank,expected
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# 4. K-Fold Cross Validation

In [5]:
kf = cv.KFold(n_splits=10)

a_s = [] # Accuracy
c_m = [] # Confusion Matrix

for train_index, test_index in kf.split(data):
    #Split
    data_train, data_test = pd.core.frame.DataFrame(data,index = train_index), pd.core.frame.DataFrame(data,index = test_index)
    labels_train, labels_test = pd.Series(labels,index = train_index, dtype = np.int64), pd.Series(labels,index = test_index, dtype = np.int64)
    
    # Training
    twigen.iloc[data_train.head().index]
    
    # Testing
    twigen.iloc[data_test.head().index]
    
    # Fitting
    gnb = GaussianNB()
    gnb.fit(data_train, labels_train)
    pred = gnb.predict(data_test)
    c_m.append(sklearn.metrics.confusion_matrix(labels_test,pred))
    a_s.append(sklearn.metrics.accuracy_score(labels_test,pred))

TypeError: 'KFold' object is not iterable

# 5. Results

In [ ]:
print("ACCURACY SCORE")
print("MEAN "+str(sum(a_s) / kf.n_splits))
print("MAX  "+str(max(a_s)))
print("MIN  "+str(min(a_s)))